// VARIABLES

$font-princial: "Plus Jakarta Sans", sans-serif;
$font-secundary: "Yesteryear", cursive;
$text-dark: #081e2a;
$text-light: #4f545a;
$text-white: #fff;
$color-highlight: #4ea629;
$button: #4da528;
$button-hover: #ff970d;
$background-light: #f3f8f6;
$background-dark: #1d231f;
$star: #fbad17;
$border: #4fa62941;
$background-transparency: rgba(8, 30, 42, 0.381);
$box-shadow: rgba(0, 0, 0, 0.06) 0px 7px 29px 0px;